body{
  margin:10px;
  background:rgb(0, 0, 41);
}

.navBar{
  background-color: #343A40;
  margin: 10px 100px 40px 100px;
  padding: 20px;
  list-style-type: none;
  border-radius:5px
}

a{
  font-family: Roboto;
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 14px;
  line-height: 16px;
}

ul{
  padding: 0;
}

.form-container{
  display: flex;
  flex-flow: column;
  color: white;
}

.tweet{
  background:rgb(0, 0, 41);
  color:white;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
  resize: none;
  padding:20px;
  margin: auto;
  width: 50vw;
}

.submit-button{
  color:white;
  background: #007BFF;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  height: 40px;
  width: 80px;
  border:none;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 25%;
}

.submit-button-false {
  background: #007BFF;
}

.submit-button-false:hover {
  background-color: lightskyblue;
  color: rgb(0, 55, 0);
  cursor: pointer ;
}


.submit-button-true {
  background: rgb(190, 166, 166);
  cursor: not-allowed ;
}


.tweet-list{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: auto;
  width: 50vw;
}

.tweet-item{
  overflow-wrap: break-word;
  margin: 10px;
  padding: 20px;
  background: #343A40;
  border-radius: 6px;
  font-family: Roboto;
}

.post-date{
  float:right;
  color: #6C757D;
}

.post-user{
  color: #6C757D;
}

.post-context{
  color:white;
  padding-top: 10px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: white;
  font-family: Roboto;
  padding: 0, auto;
}

.profile-title{
  align-self: start;
  padding-left: 27%;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 42px;
}

.user-title{
  align-self: start;
  padding-left: 28%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
}

.user-input{
  border: 2px solid rgb(241, 240, 240);
  border-radius: 5px;
  width: 600px;
  height: 61px;
  background: none;
  color:white;
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px
}

.save-button{
  align-self:flex-end;
  margin: 2% 28% 5% 0;
  width: 68px;
  height: 34px;
  color:white;
  background-color: #007BFF;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}